<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>gvc’s Bundle</string>
	<key>uuid</key>
	<string>76EAC4CE-DF8B-4458-B127-410990C547E6</string>
</dict>
</plist>
